* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: #111;
  padding: 100px;
}

.header {
  background: #ef9c66;
  min-height: 100px;
  padding: 20px;
}

.header_wrap,
.main_wrap,
.footer_wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  background: #fff5e1;
  min-height: 100%;
}

.main_wrap {
  padding: 20px;
  background: #fff;
  height: 100%;

  display: flex;
  column-gap: 20px;
}

.footer {
  padding: 20px;
}

.color_text {
  font-size: 96px;
  /* gradiant color */
  background-image: linear-gradient(120deg, #ff0000 0%, #050c9c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* shadow */
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .main_wrap {
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
  }

  .header {
    min-height: initial;
    padding: 10px;
  }
}

/* change scrollbar color */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #7f0412;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc051c;
}

/* menu styles */

:root {
  --c1: #b00711;
  --c2: #e80622;
  --c3: #b00711;
  --c4: #431900;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: 3px solid transparent;
  border-radius: 1000px;
  opacity: 0.7;
  transition: border 0.3s;
}

.menu__item:hover {
  border: 3px solid #b00711;
  opacity: 1;
  color: #fff !important;
}

.menu__img {
  display: block;
}

.menu__texts {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-weight: bold;
}

.menu__heading {
  font-weight: bold;
  line-height: normal;
}

.menu__subheading {
  font-size: 14px;
  color: #777;
  line-height: normal;
}

.menu_pill {
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1000px;
}

.menu_client_portal {
}

.menu_request_invite a:hover {
  background-image: linear-gradient(to bottom right,  #431900, #e80622);
}


.footer_menu_right {
  list-style-type: none!important;
  font-weight: normal;
  text-align: right;
  float:right;
  width: 200px;
}

.footer_menu_right li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.3s;
}

.footer_menu_right li a:hover {
  letter-spacing: 3px;
}